config/n8n/workflows/SOC.json
{
  "name": "SOC",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/1464452757632061533/S-gfIfqV1CB_TZT069YCafCY4nUVLAXAhBEPHV1coMPWa3LYwqYZmCMZbSIvOlGUA43w",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=={{$json.message}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        944,
        0
      ],
      "id": "a89286c5-d59b-46a2-aa55-71bc68d54b8f",
      "name": "Discord"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "47dcc5d5-66c4-4637-9685-3979dfbcc4cf",
              "name": "message",
              "value": "={{\" Alerte SOC\\n\\n\" + ($node[\"Basic LLM Chain\"].json[\"text\"] || \"Pas de réponse IA\")}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        0
      ],
      "id": "57bab134-4e93-44bf-93a4-796a2d1777b0",
      "name": "Format Message"
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        240
      ],
      "id": "a67a37d6-5642-4b5b-83b9-35521df284c9",
      "name": "Fields Alerts"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wazuh-alert",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -16,
        240
      ],
      "id": "48be30a8-74cd-4452-8b18-3b6623df45de",
      "name": "Webhook",
      "webhookId": "a3371877-fbcc-4c06-bf73-c41c2211d63f"
    },
    {
      "parameters": {
        "alertFields": {
          "mappingMode": "defineBelow",
          "value": {
            "follow": false,
            "flag": false,
            "title": "Alerte SOC n8n",
            "description": "={{$node[\"Basic LLM Chain\"].json[\"text\"] || \"Aucune analyse IA\"}}",
            "type": "external",
            "source": "wazuh",
            "sourceRef": "={{$now}}",
            "severity": 3
          },
          "matchingColumns": [],
          "schema": [
            {
              "displayName": "Title",
              "id": "title",
              "type": "string",
              "removed": false,
              "required": true,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "Description",
              "id": "description",
              "type": "string",
              "removed": false,
              "required": true,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "Type",
              "id": "type",
              "type": "string",
              "removed": false,
              "required": true,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "Source",
              "id": "source",
              "type": "string",
              "removed": false,
              "required": true,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "Source Reference",
              "id": "sourceRef",
              "type": "string",
              "removed": false,
              "required": true,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "External Link",
              "id": "externalLink",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "Severity (Severity of information)",
              "id": "severity",
              "type": "options",
              "options": [
                {
                  "name": "Low",
                  "value": 1
                },
                {
                  "name": "Medium",
                  "value": 2
                },
                {
                  "name": "High",
                  "value": 3
                },
                {
                  "name": "Critical",
                  "value": 4
                }
              ],
              "removed": false,
              "required": false,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "Date",
              "id": "date",
              "type": "dateTime",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "Tags",
              "id": "tags",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "Follow",
              "id": "follow",
              "type": "boolean",
              "removed": false,
              "required": false,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "Flag",
              "id": "flag",
              "type": "boolean",
              "removed": false,
              "required": false,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "TLP (Confidentiality of information)",
              "id": "tlp",
              "type": "options",
              "options": [
                {
                  "name": "White",
                  "value": 0
                },
                {
                  "name": "Green",
                  "value": 1
                },
                {
                  "name": "Amber",
                  "value": 2
                },
                {
                  "name": "Red",
                  "value": 3
                }
              ],
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "PAP (Level of exposure of information)",
              "id": "pap",
              "type": "options",
              "options": [
                {
                  "name": "White",
                  "value": 0
                },
                {
                  "name": "Green",
                  "value": 1
                },
                {
                  "name": "Amber",
                  "value": 2
                },
                {
                  "name": "Red",
                  "value": 3
                }
              ],
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "Summary",
              "id": "summary",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "Status",
              "id": "status",
              "type": "options",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "options": [
                {
                  "name": "Duplicate",
                  "value": "Duplicate",
                  "description": "Stage: Closed"
                },
                {
                  "name": "FalsePositive",
                  "value": "FalsePositive",
                  "description": "Stage: Closed"
                },
                {
                  "name": "Ignored",
                  "value": "Ignored",
                  "description": "Stage: Closed"
                },
                {
                  "name": "Imported",
                  "value": "Imported",
                  "description": "Stage: Imported"
                },
                {
                  "name": "InProgress",
                  "value": "InProgress",
                  "description": "Stage: InProgress"
                },
                {
                  "name": "New",
                  "value": "New",
                  "description": "Stage: New"
                },
                {
                  "name": "Pending",
                  "value": "Pending",
                  "description": "Stage: InProgress"
                }
              ]
            },
            {
              "displayName": "Case Template",
              "id": "caseTemplate",
              "type": "options",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "options": []
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "n8n-nodes-base.theHiveProject",
      "typeVersion": 1,
      "position": [
        864,
        224
      ],
      "id": "48f4f906-afda-4670-9dcd-cdd71bce9e7d",
      "name": "Create an alert",
      "credentials": {
        "theHiveProjectApi": {
          "id": "9c27xpxCEVQUZCET",
          "name": "The Hive 5 account"
        }
      }
    },
    {
      "parameters": {
        "resource": "case",
        "caseFields": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "=Alerte SOC - {{ $json.rule?.description \n\n \"Detection\" }}",
            "description": "={{ $node[\"Basic LLM Chain\"].json[\"response\"] || \"Aucune analyse IA\" }}",
            "severity": 2,
            "tags": "wazuh,n8n,soc"
          },
          "matchingColumns": [],
          "schema": [
            {
              "displayName": "Title",
              "id": "title",
              "type": "string",
              "removed": false,
              "required": true,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "Description",
              "id": "description",
              "type": "string",
              "removed": false,
              "required": true,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "Severity (Severity of information)",
              "id": "severity",
              "type": "options",
              "options": [
                {
                  "name": "Low",
                  "value": 1
                },
                {
                  "name": "Medium",
                  "value": 2
                },
                {
                  "name": "High",
                  "value": 3
                },
                {
                  "name": "Critical",
                  "value": 4
                }
              ],
              "removed": false,
              "required": false,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "Start Date",
              "id": "startDate",
              "type": "dateTime",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "End Date",
              "id": "endDate",
              "type": "dateTime",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "Tags",
              "id": "tags",
              "type": "string",
              "removed": false,
              "required": false,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "Flag",
              "id": "flag",
              "type": "boolean",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "TLP (Confidentiality of information)",
              "id": "tlp",
              "type": "options",
              "options": [
                {
                  "name": "White",
                  "value": 0
                },
                {
                  "name": "Green",
                  "value": 1
                },
                {
                  "name": "Amber",
                  "value": 2
                },
                {
                  "name": "Red",
                  "value": 3
                }
              ],
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "PAP (Level of exposure of information)",
              "id": "pap",
              "type": "options",
              "options": [
                {
                  "name": "White",
                  "value": 0
                },
                {
                  "name": "Green",
                  "value": 1
                },
                {
                  "name": "Amber",
                  "value": 2
                },
                {
                  "name": "Red",
                  "value": 3
                }
              ],
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "Summary",
              "id": "summary",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "Status",
              "id": "status",
              "type": "options",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "options": [
                {
                  "name": "Duplicated",
                  "value": "Duplicated",
                  "description": "Stage: Closed"
                },
                {
                  "name": "FalsePositive",
                  "value": "FalsePositive",
                  "description": "Stage: Closed"
                },
                {
                  "name": "Indeterminate",
                  "value": "Indeterminate",
                  "description": "Stage: Closed"
                },
                {
                  "name": "InProgress",
                  "value": "InProgress",
                  "description": "Stage: InProgress"
                },
                {
                  "name": "New",
                  "value": "New",
                  "description": "Stage: New"
                },
                {
                  "name": "Other",
                  "value": "Other",
                  "description": "Stage: Closed"
                },
                {
                  "name": "TruePositive",
                  "value": "TruePositive",
                  "description": "Stage: Closed"
                }
              ]
            },
            {
              "displayName": "Assignee",
              "id": "assignee",
              "type": "options",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "options": [
                {
                  "name": "n8n_analyst",
                  "value": "n8n_analyst@thehive.local"
                },
                {
                  "name": "thehive_analyst",
                  "value": "analyst@thehive.local"
                }
              ]
            },
            {
              "displayName": "Case Template",
              "id": "caseTemplate",
              "type": "options",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "options": []
            },
            {
              "displayName": "Tasks",
              "id": "tasks",
              "type": "array",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "Sharing Parameters",
              "id": "sharingParameters",
              "type": "array",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "Observable Rule",
              "id": "observableRule",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "n8n-nodes-base.theHiveProject",
      "typeVersion": 1,
      "position": [
        1024,
        224
      ],
      "id": "4ba587f5-b754-481a-b87f-4d3e7b307da4",
      "name": "Create a case",
      "credentials": {
        "theHiveProjectApi": {
          "id": "9c27xpxCEVQUZCET",
          "name": "The Hive 5 account"
        }
      }
    },
    {
      "parameters": {
        "resource": "observable",
        "id": {
          "__rl": true,
          "value": "={{ $node[\"Get a case\"].json[\"_id\"] }}",
          "mode": "id"
        },
        "dataType": "ip",
        "data": "={{ $node[\"Code in JavaScript\"].json[\"src_ip\"] || \"0.0.0.0\" }}{{ $('Code in JavaScript').item.json.src_ip }}",
        "observableFields": {
          "mappingMode": "defineBelow",
          "value": {
            "ioc": false,
            "sighted": false,
            "ignoreSimilarity": false,
            "tags": "wazuh,ip"
          },
          "matchingColumns": [],
          "schema": [
            {
              "displayName": "Start Date",
              "id": "startDate",
              "type": "dateTime",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "Description",
              "id": "message",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "Tags",
              "id": "tags",
              "type": "string",
              "removed": false,
              "required": false,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "TLP (Confidentiality of information)",
              "id": "tlp",
              "type": "options",
              "options": [
                {
                  "name": "White",
                  "value": 0
                },
                {
                  "name": "Green",
                  "value": 1
                },
                {
                  "name": "Amber",
                  "value": 2
                },
                {
                  "name": "Red",
                  "value": 3
                }
              ],
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "PAP (Level of exposure of information)",
              "id": "pap",
              "type": "options",
              "options": [
                {
                  "name": "White",
                  "value": 0
                },
                {
                  "name": "Green",
                  "value": 1
                },
                {
                  "name": "Amber",
                  "value": 2
                },
                {
                  "name": "Red",
                  "value": 3
                }
              ],
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "IOC",
              "id": "ioc",
              "type": "boolean",
              "removed": false,
              "required": false,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "Sighted",
              "id": "sighted",
              "type": "boolean",
              "removed": false,
              "required": false,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "Sighted At",
              "id": "sightedAt",
              "type": "dateTime",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "Ignore Similarity",
              "id": "ignoreSimilarity",
              "type": "boolean",
              "removed": false,
              "required": false,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "Is Zip",
              "id": "isZip",
              "type": "boolean",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "Zip Password",
              "id": "zipPassword",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "n8n-nodes-base.theHiveProject",
      "typeVersion": 1,
      "position": [
        1328,
        224
      ],
      "id": "d6d650d1-cdc0-436a-ab9f-523a76e5befe",
      "name": "Create an observable",
      "credentials": {
        "theHiveProjectApi": {
          "id": "9c27xpxCEVQUZCET",
          "name": "The Hive 5 account"
        }
      }
    },
    {
      "parameters": {
        "resource": "case",
        "operation": "get",
        "caseId": {
          "__rl": true,
          "value": "={{ $node[\"Create a case\"].json[\"_id\"] || $node[\"Create a case\"].json[\"id\"] }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.theHiveProject",
      "typeVersion": 1,
      "position": [
        1184,
        224
      ],
      "id": "3c1032a9-5d7f-4d5d-91d6-9643fac67926",
      "name": "Get a case",
      "credentials": {
        "theHiveProjectApi": {
          "id": "9c27xpxCEVQUZCET",
          "name": "The Hive 5 account"
        }
      }
    },
    {
      "parameters": {
        "analyzer": "207e81581ac42dee40dcec4a0f5b5a6b::AbuseIPDB_2_0",
        "observableType": "ip",
        "observableValue": "={{ $node[\"Create an observable\"].json[\"data\"] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.cortex",
      "typeVersion": 1,
      "position": [
        1472,
        224
      ],
      "id": "2f1733d2-f076-45ab-8be6-63b56cf6a564",
      "name": "Execute an analyzer",
      "credentials": {
        "cortexApi": {
          "id": "jpIy3Ek5PsEOnwJo",
          "name": "Cortex account"
        }
      }
    },
    {
      "parameters": {
        "resource": "job",
        "operation": "report",
        "jobId": "={{ $node[\"Execute an analyzer\"].json[\"id\"] }}"
      },
      "type": "n8n-nodes-base.cortex",
      "typeVersion": 1,
      "position": [
        1616,
        224
      ],
      "id": "24250b91-4fc1-4636-9088-6a9e5a4610c9",
      "name": "Get a job report",
      "credentials": {
        "cortexApi": {
          "id": "jpIy3Ek5PsEOnwJo",
          "name": "Cortex account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tu es un analyste SOC.\nRéponds de manière STRICTE, courte et professionnelle.Tu dois fournir une synthèse SOC et des recommandations.Ne donne pas d’ordres impératifs ni de solution définitive.Utilise un ton analytique et prudent.L’action doit être formulée comme une recommandation SOC.Format EXACT :Résumé: ..Criticité: Low/Medium/High Recommandation: \nAlerte:\n{{ $json.src_ip }}{{ $json.summary_for_llm }}.\n",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        448,
        240
      ],
      "id": "6c05cd6b-a1d9-4d92-bd33-8be2504e12c2",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "qwen2.5:3b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        464,
        464
      ],
      "id": "bcc75224-1610-4181-afdb-6f652e9021ea",
      "name": "Ollama Chat Model",
      "alwaysOutputData": false,
      "credentials": {
        "ollamaApi": {
          "id": "aeCbaa5iKjVNZbhe",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const body = $json.body || {};\nconst raw = body.raw || {};\nconst rule = raw.rule || {};\nconst agent = raw.agent || {};\n\nconst rule_id = body.rule_id || rule.id || '';\nconst rule_description = body.rule_description || rule.description || '';\nconst agent_name = body.agent_name || agent.name || '';\nconst agent_id = body.agent_id || agent.id || '';\nconst src_ip = body.src_ip || '';\nconst full_log = body.full_log || '';\n\nconst summary_for_llm = `\nRègle: ${rule_id}\nDescription: ${rule_description}\nAgent: ${agent_name} (${agent_id})\nIP source: ${src_ip || 'N/A'}\nLog brut: ${full_log}\n`.trim();\n\nreturn {\n  rule_id,\n  rule_description,\n  agent_name,\n  agent_id,\n  src_ip,\n  full_log,\n  summary_for_llm,\n  raw,\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        240
      ],
      "id": "c05d356a-fb18-4b02-8030-9c1989743440",
      "name": "Code in JavaScript",
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "connections": {
    "Format Message": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fields Alerts": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Fields Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an alert": {
      "main": [
        [
          {
            "node": "Create a case",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a case": {
      "main": [
        [
          {
            "node": "Get a case",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a case": {
      "main": [
        [
          {
            "node": "Create an observable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an observable": {
      "main": [
        [
          {
            "node": "Execute an analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute an analyzer": {
      "main": [
        [
          {
            "node": "Get a job report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Format Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create an alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f82c9f1b-6e04-41bf-81c9-d0a8ccb3ee47",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "46825de910b2c98a6afca1814fcee629c8945911fa3e56f6eee7ac475ba3f3e2"
  },
  "id": "z4W5JgeCEhK2d3Wi",
  "tags": []
}